* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  background-image: url('../assets/dune-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  grid-template-rows: 20;
  grid-template-columns: 20;
  grid-template-rows: repeat(20, 30px);
  grid-template-columns: repeat(20, 30px);
  background-image: url('../assets/grid-sand.png');
}

.grid {
  display: grid;
  border: 1px dotted green;
}

.sandworm {
  border: solid 100px;
  background-size: contain;
  background-color: blue !important;
}

.water {
  background-image: url('../assets/water.png');
  background-repeat: no-repeat;
  background-size: contain;
}


.container div {
  border: 1px solid black;
  display: inline-block;
}
