* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

#header {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}

h1 { 
  text-align: center;
  text-shadow: navajowhite;

}

#start {
  justify-content: center;
  cursor: pointer;
}

/* button.start {


} */


body {
  display: flex;
  margin: 0;
  background-image: url('../assets/dune-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  grid-template-rows: repeat(20, 30px);
  grid-template-columns: repeat(20, 30px);
}

.grid {
  display: grid;
  border: 1px dotted green;
}

.sandworm {
  border: solid 100px;
  background-size: contain;
  background-color: brown;
}

.water {
  background-image: url('../assets/water.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* .sandwormHead {
  background-color: black;
} */

#gameOver {
  position: absolute;
  visibility: hidden; 
  justify-content: center;
  width: 350px;
  height: 350px;
  background-image: url('../assets/Dunebkg.gif');
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: black;
}

h2 {
  text-align: center;
}

#restart {
  padding: 10px 30px;
  justify-content: center;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: solid;
}

.cell {
  width: 30px;
  height: 30px;
}


.container div {
  border: 1px solid black;
  display: inline-block;
}
